<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="googleMaps" class="location.GoogleMaps">
    </bean>

    <bean id="openStreetMap" class="location.OpenStreetMap">
    </bean>

    <bean id="storeService" class="services.StoreService">
        <property name="worldMap" ref="openStreetMap"/>
    </bean>

</beans>